<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core_bigger.xacro" />
    
    <xacro:include filename="gazebo_control_bigger.xacro"/>

    <xacro:include filename="camera_bigger.xacro"/>

    <xacro:include filename="lidar_bigger.xacro"/>
    
</robot>